{% extends 'base.html' %}

{% block content %}

<h2 class="page-title">Resume Manager</h2>

<p class="text-muted">
    Upload and manage your latest resume.
</p>

<div class="resume-card">

    <h4>Upload Resume</h4>

    <p class="text-muted">
        Upload your latest resume for placements and internships.
    </p>

    <form method="POST" enctype="multipart/form-data">

        <input type="file"
               name="resume"
               class="form-control">

        <button type="submit"
                class="btn btn-primary upload-btn">
            Upload Resume
        </button>

    </form>

</div>

<div class="status-card mt-4">

    <h4>Resume Status</h4>

    <hr>

    <p>✓ Resume Uploaded</p>

    <p>Profile Completion : 60%</p>

    <div class="progress">
        <div class="progress-bar"
             style="width:60%">
        </div>
    </div>

</div>
{% endblock %}